h6 {
    font-size: 1.8rem;
}

h5 {
    letter-spacing: 0em !important;
}

/* colors */
.green {
    color: #8dc63f !important;
}

.white {
    color: white !important;
}

.gray {
    color: #67666d;
}
/* end colors */

/* oocss */
.bold {
    font-family: Lato-Bold;
}

.bree-serif {
    font-family: Bree-Serif;
}

.center {
    text-align: center;
}

.columns.center {
    float: none;
    margin: 0px auto;
}

.line {
    border-top: 1px solid #8dc63f;
}

.sub-header {
    font-size: 60px !important;
}

.h2 {
    margin-top: 0px !important;
    font-size: 48px !important;
}

.inline {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
/* end oocss */

/* sections */
.header {
    padding-top: 30px;
}

.how-it-works {
    padding-top: 50px;
    padding-bottom: 50px;
}

.stuff {
    padding-bottom: 50px;
}

/* logo */
.sync-logo {
    float: left;
    margin-left: -5%;
    margin-top: 2%;
}

.logo-container {
    padding-top: 10px;
}

.logo {
    background-image: url("../images/sync_logo.png");
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    height: 225px;
}

.logo:hover {
    background-image: url("../images/sync_toplogo.jpg");
    background-size: 76%;
}
/* end logo */

.images-container {
    overflow-x: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}

.video-container {
    padding-bottom: 50px;
}

.crest-container {
    padding-bottom: 50px;
}

img.crest {
    width: 50%;
}

@media (max-width: 550px) {
    img.crest {
        width: 100%;
    }
}

.sync-footer {
    width: 100%;
    margin-top: 50px;
}

.footer {
    padding-top: 50px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #333;
}
/* end sections */

/* buttons */
div.subscribe {
    text-align: center;
}

button.custom {
    height: 50px;
    color: #fff;
    background-color: #faa14d;
    border: 1px solid #faa14d;
    border-bottom: 2px solid #e98917;
    font-size: 1.1em;
}

button.custom:hover {
    background-color: #e98917;
    border-bottom: 2px solid #faa14d;
}

.login {
    border: 1px solid #8dc63f !important;
    color: #8dc63f !important;
}

.login:hover {
    background-color: #8dc63f !important;
    color: white !important;
}
/* end buttons */

/* nav lists */
ul {
    list-style: none;
}

li.li-button {
    color: #8dc63f;
    padding: 10px 15px;
    border: 1px solid #8dc63f;
    border-radius: 5px;
}

ul.user-buttons {
    margin-top: 50px;
    position: absolute;
    right: 0;
}

li.user-button {
    display: inline-block;
    margin-left: 10px;
}

ul.nav-buttons {
    text-align: center;
}

li.nav-button {
    padding: 10px 30px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

a.nav-link {
    text-decoration: none;
    color: #8dc63f;
}
/* end nav lists */

/* placeholders */
.video {
    height: 300px;
    background-color: #67666d;
}

.bg-green {
    background-image: url("../images/pennant.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 125px 30px 0px 30px;
    height: 550px;
}

@media (max-width: 900px) {
    .pennant.columns {
        width: 100%;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin-left: 0% !important;
    }
    .bg-green {
        background-size: 50%;
        background-position: center;
        height: 600px;
        padding-top: 150px !important;
    }
    .pennant-text {
        width: 30% !important;
    }
}

@media (max-width: 550px) {
    .bg-green {
        background-size: 80%;
        background-position: center;
        padding-top: 150px !important;
    }
    .pennant-text {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    h5.text {
        font-size: 1.5em;
    }
    .bg-green {
        padding-top: 75px;
    }
}

/* sample images section */
img.samples {
    height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: .5;
}

.images {
    margin-left: -400px;
    width: 150%;
}

img.active {
    opacity: 1.0;
}

/* end placeholders */

/* overrides */
#add_coupon_code {
    padding-right: 70px;
}