h6 {
    font-size: 1.8rem;
}

h5 {
    letter-spacing: 0em !important;
}

/* colors */
.green {
    color: #8dc63f !important;
}

.white {
    color: white !important;
}

.gray {
    color: #67666d;
}
/* end colors */

/* oocss */
.bold {
    font-family: Lato-Bold;
}

.bree-serif {
    font-family: Bree-Serif;
}

.center {
    text-align: center;
}

.columns.center {
    float: none;
    margin: 0px auto;
}

.line {
    border-top: 1px solid #8dc63f;
}

.sub-header {
    font-size: 60px !important;
}

.h2 {
    margin-top: 0px !important;
    font-size: 48px !important;
}

.inline {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.top-25 {
    padding-top: 25px;
}

.top-50 {
    padding-top: 50px;
}

.upper-alpha {
    list-style-type: upper-alpha;
}
/* end oocss */

/* sections */
.header {
    padding-top: 30px;
}

.how-it-works {
    padding-top: 50px;
    padding-bottom: 50px;
}

.stuff {
    padding-bottom: 50px;
}

/* logo */
.sync-logo {
    float: left;
    margin-left: -10%;
    margin-top: 2%;
}

@media (max-width: 850px) {
    .sync-logo {
        display: none;
    }
}

.logo-container {
    padding-top: 10px;
}

.logo {
    background-image: url("../images/sync_logo.png");
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
    height: 225px;
}

.logo:hover {
    background-image: url("../images/sync_toplogo.png");
    background-size: 86%;
}

.logo-right {
    width: 200%;
    margin-top: 50%;
}

.logo-left {
    float: left;
    width: 200%;
    margin-left: -100%;
    margin-top: 2%;
}

@media (max-width: 550px) {
    .logo-left, .logo-right {
        display: none;
    }
}

@media (max-width: 800px) {
    .logo {
        background-size: 100%;
        margin-bottom: -40px;
    }
    .logo:hover {
        background-size: 100%;
    }
}
/* end logo */

.images-container {
    overflow-x: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}

.video-container {
    padding-bottom: 50px;
}

.crest-container {
    padding-bottom: 50px;
}

img.crest {
    width: 50%;
}

@media (max-width: 550px) {
    img.crest {
        width: 100%;
    }
}

.sync-footer {
    width: 100%;
    margin-top: 50px;
}

.footer {
    padding-top: 50px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #333;
}
/* end sections */

/* buttons */
div.subscribe {
    text-align: center;
}

button.custom {
    height: 50px;
    color: #fff;
    background-color: #faa14d;
    border: 1px solid #faa14d;
    border-bottom: 2px solid #e98917;
    font-size: 1.1em;
}

button.custom:hover {
    background-color: #e98917;
    border-bottom: 2px solid #faa14d;
}

.login {
    border: 1px solid #8dc63f !important;
    color: #8dc63f !important;
}

.login:hover {
    background-color: #8dc63f !important;
    color: white !important;
}
/* end buttons */

/* nav lists */
ul {
    list-style: none;
}

li.li-button {
    color: #8dc63f;
    padding: 10px 15px;
    border: 1px solid #8dc63f;
    border-radius: 5px;
}

ul.user-buttons {
    margin-top: 50px;
    position: absolute;
    right: 0;
}

li.user-button {
    display: inline-block;
    margin-left: 10px;
}

ul.nav-buttons {
    text-align: center;
}

li.nav-button {
    padding: 10px 30px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

li.nav-button:hover {
    background-color: #8dc63f !important;
    color: white !important;
}

.hey-moms {
    z-index: 9999;
    position: absolute;
    width: 10%;
    right: 4%;
    top: 1%;
}

@media (max-width: 1300px) {
    .hey-moms {
        top: 4.5%;
    }
}

@media (max-width: 900px) {
    .hey-moms {
        top: .2%;
        width: 13%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}

@media (max-width: 500px) {
    .hey-moms {
        width: 25%;
    }
}
/*li.nav-button.active {
    background-color: #8dc63f !important;
    color: white !important;
}*/

a.nav-link {
    text-decoration: none;
    color: #8dc63f;
}
/* end nav lists */

/* placeholders */
.video {
    height: 300px;
    background-color: #67666d;
}

.bg-green {
    background-image: url("../images/pennant.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 110px 30px 0px 30px;
    height: 550px;
}

@media (max-width: 900px) {
    .pennant.columns {
        width: 100%;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin-left: 0% !important;
    }
    .bg-green {
        background-size: 50%;
        background-position: center;
        height: 600px;
        padding-top: 150px !important;
    }
    .pennant-text {
        width: 30% !important;
    }
}

@media (max-width: 550px) {
    .bg-green {
        background-size: 80%;
        background-position: center;
        padding-top: 165px !important;
    }
    .bg-green > h2 {
        margin-bottom: 0px;
    }
    .pennant-text {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    h5.text {
        font-size: 1.5em;
    }
    .bg-green {
        padding-top: 75px;
    }
}

/* sample images section */
img.samples {
    height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 1.0;
}

.how-it-works-samples {
    padding-top: 25px;
    padding-bottom: 25px;
}

.briefs {
    width: 15%;
}

.briefs:hover {
    width: 20%;
}

.socks {
    width: 10%;
}

.socks:hover {
    width: 13%;
}

.images {
    margin-left: -6000px;
    width: 1100%;
}

@media (max-width: 1000px) {
    .images {
        width: 1500%;
    }
}

@media (max-width: 600px) {
    .images {
        margin-left: -2000px;
        width: 1500%;
    }
}

img.active {
    opacity: 1.0;
}

.stuff-briefs {
    width: 75%;
    margin-bottom: 50px;
}

.stuff-socks {
    margin-top: -50px;
    width: 50%;
}

/* end placeholders */

/* overrides */
.input_group {
    width: 140% !important;
}

#add_coupon_code {
    padding-right: 70px;
}

.six.columns {
    padding-left: 15px;
}

.subpage > h3 {
    letter-spacing: .4px !important;
}

.content {
    font-size: 1.2em;
}

.h-section {
    margin: 0px !important;
}

.fpanel {
    padding-bottom: 0px !important;
}