<!DOCTYPE HTML>
<!-- !!!!!!!!!! IMPLEMENT THEME CLASS HERE !!!!!!!!! for example theme-1, theme-2, etc. -->
<html class="theme-3 {% block page_class %}{% endblock %}">
<!-- !!!!!!!!!! IMPLEMENT THEME CLASS HERE !!!!!!!!! -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {% block title %} {{ page_title }} {% endblock %}
  </title>
  {{ settings | meta_tags(slug, path) }}
  {{ store | ogp_tags(page_title) }}

  {{ css.base() }}
  {{ 'css/main.css' | asset_url | stylesheet_tag }}
  {{ 'css/skeleton/skeleton.css' | asset_url | stylesheet_tag }}
  {{ 'css/style.css' | asset_url | stylesheet_tag }}
  {{ 'css/custom.css' | asset_url | stylesheet_tag }}
  <!-- Change your favicon location here if desired -->
  {{ 'images/favicon.ico' | asset_url | icon_tag }}

  {% set cart = active_cart() %}
  {{ settings.header_code | safe }}
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
     <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </meta>
</meta>
</meta>
</head>
<body>
  <div class="viewport">
   <div class="row-offcanvas row-offcanvas-right">
    <div class="pagecontent">
     <!-- HEADER -->
     <header class="sheader">
       <a href="/moms"><img class="hey-moms" src="{{ 'images/hey_moms.png' | asset_url }}"/></a>
      <div class="container">
       {% block header_content %}
       <div class="navigation">
       <a class="link-cart green" data-toggle="offcanvas show-menu">
         Cart ({{ (cart.products | length ) + (cart.gifts | length) }})
       </a>
       {% if guest %}
       <a href="/customer/login" class="btn btn-small btn-default login">
         Login
       </a>
       {% else %}
       <ul class="nav navbar-right">
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
           {{ customer.name }}
           <b class="caret">
           </b>
         </a>
         <ul class="dropdown-menu">
           <li>
            <a href="/customer/account">
             Preferences
           </a>
         </li>
         <li>
          <a href="/customer/logout">
           Sign Out
         </a>
       </li>
     </ul>
   </li>
 </ul>
 {% endif %}
</div>
<a class="logo_link" href="/">
  <img class="sync-logo" src="{{ 'images/sync-badge2.png' | asset_url }}"/>
  <div class="logo-container">
      <div class="logo center"></div>
      <h2 class="green center bree-serif h2"><strong>STUFF YOU NEED CHEAP</strong></h2>
  </div>
</a>
</div>
  <div class="nav">
    <ul class="nav-buttons bold">
        <a href="/product" class="nav-link"><li class="li-button nav-button"><strong><em>THE STUFF</em></strong></li></a>
        <a href="/how-it-works" class="nav-link"><li class="li-button nav-button"><strong><em>HOW IT WORKS</em></strong></li></a>
        <a href="/squad" class="nav-link"><li class="li-button nav-button"><strong><em>JOIN THE SYNC SQUAD</em></strong></li></a>
        <a href="/subscribe" class="nav-link"><li class="li-button nav-button"><strong><em>GIVE SYNC</em></strong></li></a>
        <a href="/faq" class="nav-link"><li class="li-button nav-button"><strong><em>FAQ</em></strong></li></a>
    </ul>
  </div>
{% endblock %}
</header>
<!-- /HEADER -->
{% block page_content %}
{% endblock %}
<!-- FOOTER -->
<img class="sync-footer" src="{{ 'images/sync-footer.png' | asset_url }}"/>
<footer class="footer">
  {% block footer_content %}
      <div class="container">
          <div class="row">
              <div class="six columns">
                  <div class="row">
                      <div class="six columns">
                          <ul>
                              <li class="green"><strong>Get To Know Us</strong></li>
                              <li class="white"><a class="white" href="/product">Product</a></li>
                              <li class="white"><a class="white" href="/how-it-works">How It Works</a></li>
                              <li class="white"><a class="white" href="/squad">Join the SYNC Squad</a></li>
                              <li class="white"><a class="white" href="/moms">Mom Portal</a></li>
                          </ul>
                      </div>
                      <div class="six columns">
                          <ul>
                              <li class="green"><strong>Follow us</strong></li>
                              <li class="white"><a class="white" href="//www.facebook.com/stuffyouneedcheap" data-barley="ftr_fb_link" data-barley-editor="link">Facebook</a></li>
                              <li class="white"><a class="white" href="//twitter.com/stuffuneedcheap" data-barley="ftr_twtr_link" data-barley-editor="link">Twitter</a></li>
                              <li class="white"><a class="white" href="//instagram.com/stuffyouneedcheap/" data-barley="ftr_insta_link" data-barley-editor="link">Instagram</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="six columns hide">
                  <div class="eight columns">
                      <ul>
                          <li class="green"><strong>Articles</strong></li>
                          <li class="white">Lorem Ipsum Dolor Sit Amet</li>
                          <li class="white">10 Etiam viverra felis sed risus aliquet</li>
                          <li class="white">Nam sodales eu est a tempor</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <ul class="center white">
                  <li class="inline">© SYNC 2015, All Rights Reserved</li>
                  <li class="inline"><a class="white" href="/terms">Terms & Conditions</a></li>
                  <li class="inline"><a class="white" href="mailto:getinsync@stuffyouneedcheap.com">getinsync@stuffyouneedcheap.com</a></li>
              </ul>
          </div>
      </div>
{% endblock %}
</footer>
<!-- /FOOTER -->
</div>
<!-- /.page -->
<div class="sidebar-offcanvas" id="slidebar" role="navigation">
 {% include "components/shopping-cart.html" %}
</div>
<!-- /.slidebar -->
</div>
<!--/row-->
</div>
<!--/.container-->
{{ ga.base() }}
{{ js.base() }}

{{ '/js/jquery-1.11.1.min.js' | asset_url | javascript_tag }}
{{ '/js/bootstrap.min.js' | asset_url | javascript_tag }}
{{ '/js/offcanvas.js' | asset_url | javascript_tag }}
{{ '/js/slidepanels.js' | asset_url | javascript_tag }}
{{ '/js/main.js' | asset_url | javascript_tag }}
<!-- Any page specific javascript can be included in your child templates in a page_javascript block -->
{% block page_javascript %}
{% endblock %}
{{ settings.footer_code | safe }}
</body>
</html>
