{% extends "base.html" %}

{% block header_class %}header-expanded slidepanel top{% endblock %}
{% block header_bg_img %}data-width="1437" data-height="763" data-barley="index_bg_img" data-barley-editor="bgimage" style="background-image: url('{{ 'images/banner-expanded-theme-3.jpg' | asset_url }}');"{% endblock %}
{% block header_content %}
{{ super() }}
{% endblock %}

{% block page_content %}

<div class="intro">
    <div class="container">
        <div class="video-container row">
            <div class="eight columns video center"></div>
        </div>
        <div class="socks-container row">
            <div class="seven columns socks center"></div>
        </div>
    </div>
</div>

<div class="subscribe">
    <a href="/subscribe/"><button class="custom bold">SUBSCRIBE NOW</button></a>
</div>

<div class="how-it-works center">
    <div class="container">
        <h1 class="green sub-header"><strong><em>HOW IT WORKS</em></strong></h1>
        <div class="row gray">
            <div class="twelve columns">
                <div class="seven columns center">
                    <h6>You subscribe and we take care of the rest. Your items will show up monthly, and <span class="bold">shipping is always free</span>.</h6>
                </div>
            </div>
            <h5><em>Take a look at some of our designs you might get below.</em></h5>
            <div class="images-container">
                <div class="four columns center line"></div>
                <div class="images row">
                    <div class="three columns placeholder"></div>
                    <div class="three columns placeholder"></div>
                    <div class="three columns placeholder"></div>
                    <div class="three columns placeholder"></div>
                </div>
                <div class="four columns center line"></div>
            </div>
        </div>
    </div>
    <div class="subscribe">
        <a href="/subscribe/"><button class="custom bold">SUBSCRIBE NOW</button></a>
    </div>
</div>

<div class="stuff center">
    <div class="container">
        <h1 class="green sub-header"><strong><em>THE STUFF</em></strong></h1>
        <div class="row">
            <div class="four columns bg-green">
                <h2 class="white bold"><strong>DESIGN</strong></h2>
                <div class="row">
                    <div class="seven columns center white"><h5>You're going to look good in our stuff.</h5></div>
                </div>
            </div>
            <div class="four columns bg-green">
                <h2 class="white bold"><strong>EASY</strong></h2>
                <div class="row">
                    <div class="seven columns center white"><h5>Convenience is the name of the game.</h5></div>
                </div>
            </div>
            <div class="four columns bg-green">
                <h2 class="white bold"><strong>COST</strong></h2>
                <div class="row">
                    <div class="seven columns center white"><h5>It barely costs you anything.</h5></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="subscribe">
    <a href="/subscribe/"><button class="custom bold">SUBSCRIBE NOW</button></a>
</div>

{% endblock %}